<%= form_with(scope: :session, local: true, url: sessions_path) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  <div class="actions">
    <%= form.submit 'ログイン'%>
  </div>
<% end %>
